* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}

.heading {
    text-align: center;
    margin: 20px 0px;
}

#table-empty-message {
    display: none;
    text-align: center;
    color: red;
}

.table-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
}

.option {
    height: 25px;
}

#search-content {
    width: 200px;
}

#user-table {
    width: 100%;
    table-layout: fixed
}

th {
    background-color: lightgray;
}

th:not(:last-child):hover {
    background-color: black;
    color: white;
}

.choosen {
    background-color: black;
    color: white;
}

#pop-up {
    display: none;
    background-color: #8080806e;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.pop-up-content {
    width: 400px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

#close-btn {
    background-color: tomato;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
}

#close-btn:hover {
    background-color: red;
}

.edit-user {
    padding: 0px 20px;
}

.section {
    margin: 10px 0px;
}

.choices {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

#delete-btn {
    background-color: tomato;
    color: white;
    padding: 5px 10px;
    border: none;
}

#delete-btn:hover {
    background-color: red;
}

#submit-btn {
    background-color: #72d36b;
    color: white;
    padding: 5px 10px;
    border: none;
}

#submit-btn:hover {
    background-color: seagreen;
}

.edit-btn {
    background-color: #72d36b;
    color: white;
    padding: 5px;
    border: none;
    width: 100%;
}

.edit-btn:hover {
    background-color: seagreen;
}

.sort-arrow {
    margin-left: 5px;
    font-size: 12px;
}